@use 'global';
$mainFont: global.$mainFont;
$additionalFont: global.$additionalFont;

.introduction{
  width: 100%;
  height: 600px;
  border-radius: 10px;
  background: url("../images/introduction.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    position: absolute;
    top: -20%;
    left: -100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: #6fe3c3;
    transition: 0.3s;
    z-index: -1;
    opacity: 0;
  }

  &:hover::after{
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    opacity: 0.2;
  }

  p {
    font-family: $additionalFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
  }

  h1{
    margin: 40px 0 0 0;
  }
}

body.modal_active{
  overflow: hidden;
}

.header-title{
  position: relative;
  display: inline-block;

  &::before{
    content: '';
    width: 28px;
    height: 14px;
    background: url("../images/header-left.svg") no-repeat;
    position: absolute;
    margin-top: -7px;
    top: 50%;
    left: -45px;
  }

  &::after{
    content: '';
    width: 28px;
    height: 14px;
    background: url("../images/header-right.svg") no-repeat;
    position: absolute;
    margin-top: -7px;
    top: 50%;
    right: -45px;
  }
}

.lessons{
  margin: 150px 0 0 0;
  text-align: center;
}

.lessons-list{
  width: 100%;
  height: 540px;
  margin: 100px 0 100px 0;
  display: flex;
  flex-direction: row;

    &__main{
      width: calc(100%/3 - 16px);
      height: 100%;
      margin: 0 24px 0 0;
    }

    &__all{
      width: calc((100%/3)*2);
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;

       .lessons-list__elements:nth-child(odd){
         margin: 0 24px 0 0;
       }
    }

    &__elements{
      border-radius: 10px;
      width: calc(50% - 12px);
      height: 258px;
      box-sizing: border-box;
    }
}

.lessons-elements{
  position: relative;
  transition: 0.3s;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
  }

  &__image{
    width: 100%;
    height: 100%;
  }

  &__sign{
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 40px;
    max-width: 330px;
    font-family: $additionalFont;
    font-weight: 700;
    line-height: 34px;
    font-size: 24px;
    text-align: left;
  }
}

.lessons-elements_first{
  width: 100%;
  height: 100%;

  .lessons-elements__sign{
    bottom: 50px;
    left: 50px;
  }
}


.reviews{
  text-align: center;
  margin: 150px 0 0 0;
}

.wrap-slider{
  max-width: 1736px;
}

.reviews-container{
  width: 100%;
  height: auto;
  margin: 100px auto 70px;
  overflow: hidden;
}

.reviews-wrap{
  width: 1736px;
  min-height: 340px;
  position: relative;
  left: calc((100% - 1736px)/2);
  transition: 1.2s;
}

.reviews-list{
  display: flex;
  flex-direction: row;
  max-height: 400px;
  height: 100%;
  align-items: center;
}

.review{
  margin: 0 20px;
  flex: 0 0 500px;
  max-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  opacity: 0.4;
  background: #018ABE;
  border-radius: 10px;
  padding: 40px 45px;
  box-sizing: border-box;

  &__header{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin: 0 0 5px 0;
  }

  &_active{
    margin: 0 10px;
    flex: 0 0 636px;
    min-height: 320px;
    max-height: 420px;
    height: 100%;
    padding: 50px 60px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    transition: 0.5s;

        &__header{
        font-weight: 700;
        font-size: 10px;
       }
  }

  &_active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: -100%;
    z-index: -1;
    opacity: 0;
    background: #265d98;
    transition: 0.5s;
  }

  &_active:hover{
    overflow: visible;
  }

  &_active:hover::before{
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.2;
    transition: 0.5s;
  }

}


.slider-dots{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;

  &__element{
    width: 16px;
    height: 16px;
    background: #ffffff;
    opacity: 0.4;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  &__element_active{
    opacity: 1;
  }

}

.about-company{
    margin: 150px 0 0 0;
    text-align: center;
}

.directions{
  display: flex;
  flex-direction: column;
  max-width: 1076px;
  width: 100%;
  margin: 100px auto 0;
}

.direction-element{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 100px 0;

  &__text{
    width: 50%;
    box-sizing: border-box;
  }

  &__image{
    width: 50%;
    max-height: 365px;
    height: 100%;
    transition: 0.3s;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__image:hover{
    filter: saturate(180%);
    transition: 0.5s;
  }
}

.direction-element:nth-child(odd){
  .direction-element__text{
    padding-right: 84px;
  }
}

.direction-element:nth-child(even){
  .direction-element__text{
    padding-left: 84px;
  }
}

.direction-text{
  &__header{
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: block;
    margin: 0 0 30px 0;
  }

  &__paragraph{
    font-size: 14px;
    line-height: 22px;
  }
}

.price{
  margin: 50px 0 0 0;
  text-align: center;
}

.price-wrap{
  margin: 100px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1076px;
  width: 100%;
}

.price-list{
  width: 50%;
}

.price-image{
  width: 50%;

  &__picture{
    border-radius: 10px;
    max-width: 526px;
    width: 100%;
    max-height: 396px;
    object-fit: fill;
    transition: 0.3s;
  }

  &__picture:hover{
    filter: hue-rotate(200deg);
    transition: 0.4s;
  }

  &__title{
    font-family: $additionalFont;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    margin: 30px 0 0 0;
    display: block;
  }
}

.lessons-price{
  list-style-type: none;
  max-width: 378px;
  width: 100%;

  &__element{
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 38px;

      span{
        text-align: left;
      }
  }

  &__element:before{
    position: absolute;
    content: '';
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
    background: url("../images/lessons-price-element.svg") no-repeat;
    width: 18px;
    height: 9px;
  }
}


main{
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 10%;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgb(32, 64, 164, 0.7);
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: 1s;
    }

    &::after{
      content: '';
      position: absolute;
      width: 10%;
      height: 100vh;
      top: 0;
      right: 0;
      background: rgb(59, 114, 98, 0.7);
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: 1s;
    }

  .animate-loading{
    display: none;
  }
}


main.animation-transition{
    position: relative;
    height: 100vh;

    &::before{
      width: 50%;
      visibility: visible;
      opacity: 1;
      transition: 0.7s;
    }

   &::after{
      width: 50%;
     visibility: visible;
     opacity: 1;
     transition: 0.5s;
    }

  .animate-loading{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    opacity: 0.7;
  }
}
