@use 'global';
@use 'main';
$mainFont: global.$mainFont;
$additionalFont: global.$additionalFont;

.blog-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 60px 0;

    &__element{
      display: flex;
      padding: 50px 60px;
      box-sizing: border-box;
      border: 2px solid #018ABE;
      border-radius: 20px;
      margin: 0 0 45px 0;
    }
}

.blog-element{
    &__picture{
      width: calc(50% - 25px);
      margin: 0 25px 0 0;
    }

    &__img{
      border-radius: 15px;
      max-width: 564px;
      width: 100%;
    }

    &__text{
      width: calc(50% - 25px);
      margin: 0 0 0 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__date{
      background: #018ABE;
      border-radius: 5px;
      padding: 6px 12px 5px;
      margin: 0 0 30px 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
    }

    &__header{
      margin: 0 0 20px 0;
      font-family: $additionalFont;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
    }

    &__paragraph{
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 40px 0;
    }

    &__button{
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 5px;
      background: #018ABE;
      transition: 0.3s;

        &:hover{
          opacity: 0.7;
          transition: 0.4s;
        }
    }
}


@media only screen and (max-width: 768px) {
      .blog-container__element{
        flex-direction: column;
      }

      .blog-element{
        &__picture{
          width: 100%;
          margin: 0 0 35px 0;
        }

        &__text{
          width: 100%;
          margin: 0 0 25px 0;
        }

        &__header{
          font-size: 22px;
          line-height: 26px;
        }
      }
}